*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0 0;
  padding: 0 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

/* Variables */
:root {
  --primary-color: ;
  --secondary-color: ;
}

a,
li,
link {
  text-decoration: none !important;
  list-style: none;
  color: inherit !important;
}
/* Dark Mode */
/* Light mode styles */
body {
  background-color: #fff;
  color: #333;
}

.btn-dark-mode {
 color: #333;
  background-color: #fff;
}

.btn-dark-mode:hover{
  background-color: #333;
  color: #fff
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .btn-dark-mode {
  color: #fff;
  background-color: #333;
}

body.dark-mode .btn-dark-mode:hover {
  background-color: #fff;
  color: #333;
}

#contactFormPopup div {
  border-radius: 5px;
}

#contactFormPopup.dark-mode div {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  display: flex;
}

section {
  padding: 10px;
}

nav {
  right: 0;
  color: white;
  height: 100%;
  background-color: black;
}

.navbar-brand img {
  max-height: 40px;
}
/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none; /* Hidden by default */
  z-index: 9; /* Make sure the overlay is on top of other elements */
}
section {
  display: grid;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

section::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: black;
}

/* back to top */
.back-to-top {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translate(50%, 50%);
}

.back-to-top i {
  font-size: large;
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  z-index: 11;
}

.back-to-top i:hover {
  filter: invert(1);
  z-index: 11;
}

/*  */
i {
  display: block;
}

/* ABOUT */
/* Popup container */
.icon {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup content */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Fade-in animation */
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about__ContentIcon i {
  position: relative;
  padding: 5px;
  border-radius: 50%;
  font-size: 45px;
  transition: 0.3s ease;
  z-index: 1;
}

.about__ContentIcon i.dark-mode{
  color: white;
}


.about__ContentIcon i:hover {
  color: white;
  background-color: black;
  border: 3px;
  border-radius: 5px;
}

/* EXPERIENCE */

/* EDUCATION */

/* SKILLS */

.skills__Content i {
  font-size: 90px;
}

.skills__Content i:first-child {
  color: #e44d26;
}

.skills__Content i:nth-child(2) {
  color: #0070ba;
}

.skills__Content i:nth-child(3) {
  color: #e5a221;
}

.skills__Content i:nth-child(4) {
  color: #ce679a;
}

.skills__Content i:last-child {
  color: #777bb3;
}

/* PROJECTS */

.card {
  margin: 15px 0;
  height: 450px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.card img {
  cursor: pointer;
}

/* CONTACT */

/* Navbar */
.navbar {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 1000;
  background-color: black;
}

.navbar span {
  color: white;
}

/* RESPONSIVE */
/*  pc: width >= 1024px */
@media screen and (min-width: 1025px) {
  /* responsive_about */

  .phone__Number {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: -128px;
    transition: 0.5s ease-in-out;
    height: 100%;
    z-index: -1;
    color: white;
    opacity: 0;
    padding: 10px;
  }

  .about__ContentIcon button:nth-child(1):hover .phone__Number {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: inline-block;
    background-color: black;
    color: white;
    transform: translateX(-50px);
    opacity: 1;
  }

  /* responsive_Project */
  .card img {
    height: 300px;
  }
}

/* tablet: 740<= width < 1024 */

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .phone__Number {
    display: none;
  }
  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .about__Header {
    display: flex;
    flex-direction: column;
  }
  .exp__header {
    display: flex;
    flex-direction: column;
  }
  .edu__header {
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 320px;
  }
}
/* moblie: width < 740px */
@media screen and (max-width: 739px) {
  /* About */
  .about__ContentIcon {
    display: flex;
    justify-content: center;
  }
  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .phone__Number {
    display: none;
  }
  .exp__header {
    display: flex;
    flex-direction: column;
  }

  /* Education sm*/
  .edu__header {
    display: flex;
    flex-direction: column;
  }

  /* Skill sm */
  .skills__Content i {
    font-size: 50px;
  }
  /* Projects sm */
  .card {
    height: auto;
  }
  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    z-index: 11;
  }

  .back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 11;
  }
}

.form-group {
}
