*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0 0;
  padding: 0 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

a,
li,
link {
  text-decoration: none !important;
  list-style: none;
  color: inherit !important;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  display: flex;
}

section {
  padding: 10px;
}

nav {
  right: 0;
  color: white;
  height: 100%;
  background-color: black;
}

section {
  display: grid;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

section::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: black;
}

/*  */
i {
  display: block;
}

/* ABOUT */
.about__ContentIcon {
  bottom: 30px;
  right: 30px;
}

.about__ContentIcon a {
}
.about__ContentIcon i {
  position: relative;
  padding: 5px;
  border-radius: 50%;
  font-size: 50px;
  transition: 0.3s ease;
  z-index: 1;
}

.about__ContentIcon i:hover {
  color: white;
  background-color: black;
  border: 3px;
  border-radius: 5px;
}

.phone__Number {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: -162px;
  transition: 0.5s ease-in-out;
  height: 100%;
  z-index: -1;
  color: white;
}

.about__ContentIcon i:nth-child(1):hover .phone__Number {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: inline-block;
  background-color: black;
  color: white;
  transform: translateX(-50px);
}

/* EXPERIENCE */

/* EDUCATION */

/* SKILLS */

.skills__Content i {
  font-size: 90px;
}

.skills__Content i:first-child {
  color: #e44d26;
}

.skills__Content i:nth-child(2) {
  color: #0070ba;
}

.skills__Content i:nth-child(3) {
  color: #e5a221;
}

.skills__Content i:nth-child(4) {
  color: #ce679a;
}

.skills__Content i:last-child {
  color: #777bb3;
}

/* PROJECTS */

.card {
  margin: 15px 0;
  height: 450px;
}

.card img {
  cursor: pointer;
}

.card-footer{
  position: relative;
}

.card .btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* Navbar */
.navbar {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*  pc: width >= 1024px */
@media screen and (min-width: 1025px) {
  .card img {
    height: 300px;
  }
 
}

/* tablet: 740<= width < 1024 */
@media screen and (min-width: 740px) and (max-width: 1024px) {
   .card{
    height: 320px;
  }
}
/* moblie: width < 740px */
@media screen and (max-width: 739px) {
   .card{
    height: auto;
  }
  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    z-index: 11;
  }

  h3 {
    font-size: 25px;
  }

  h1,
  h4,
  h5 {
    font-size: 16px !important;
  }

  /* Skill (small device) */
  .skills__Content i {
    font-size: 50px;
  }
}
